@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-content {
  padding: 30px;
}

.dashboard-header {
  padding: 20px 15px;
  background-color: #6b6cd1;
}
.dashboard-header h1 {
  color: #fff;
}
.dashboard-header p {
  color: #fff;
  padding-left: 6px;
}
.stats-grid {
  padding: 0px 30px;
}
.employees-page .card {
  background-color: #eef0fb;
}
.employee-card .btn.btn-danger.delete-btn {
  background-color: #da6a6a;
  color: #fff;
}